//------------------------------------
  *** HOW TO USE ***
  cnavbar
//------------------------------------
//-===================================
template
  div
    ul
      li(v-for="i in server_pages")
        a(v-on:click='changeUrl(i.name)') {{ i.name }}
//-===================================
//-===================================
script.
  export default {
    data: function() {
      return {
        hash: null,
        server_pages: {},
        links:[
          {title: "Home", link: "home"},
          {title: "About", link: "about"},
          {title: "Images", link: "images"}
        ],
      }
    },
    created:function(){
      var t = this;
      $(function(){

        // FROM SERVER
        t.server_pages = JSON.parse($('#___vuepages').text())

        // WATCH FOR PARAMETER CHANGES
        ee.addListener('urlchanged', function(res){
          t.hash = res.hash;
        });
      })

    },
    methods:{
      changeUrl: function(path){
        window.scrollTo(0, 0);
        this.hash = path;
        ee.emitEvent('changeUrl', [{url: path}]);
      },
    },
    beforeDestroy:function(){
      // remove all listeners here
      ee.removeEvent('urlchanged')
    }
  }
//-===================================
//-===================================
style(lang='css').
  /* PENDING VUE-EXPRESS UPDATE */
//-===================================
