//------------------------------------
  *** HOW TO USE ***
  cnavbar
//------------------------------------
//-===================================
template
  div
    br
    h1 TEST COMPONENT
    br
//-===================================
//-===================================
script.
  export default {
    data: function() {
      return {

      }
    },
    created:function(){
      var t = this;
      $(function(){

      })
    },
    methods:{
      newFunction: function(){


      },
    },
    beforeDestroy:function(){

    }
  }
//-===================================
//-===================================
style(lang='css').
  /* PENDING VUE-EXPRESS UPDATE */
//-===================================
