//------------------------------------
  *** HOW TO USE ***


  greetings(message="I am a message")
//------------------------------------

//-===================================
template
  div
    h1 Home x89
    p
      | Lorem ipsum dolor sit amet, libero luctus, dui dolor tincidunt justo, montes pede placerat in massa et, in lorem egestas vel placerat dui. Egestas lacinia tortor, nec dicta nunc eget fusce. Metus velit tempor vel, neque vitae porttitor, mauris metus diam, nibh mi donec aliquam imperdiet, mauris ut massa. Sed erat est, congue tellus nec primis sed, tortor odio eu, reprehenderit eu velit faucibus in pulvinar. Quis luctus non sagittis, erat curabitur justo. Vitae sem dui neque, non nibh mauris habitasse in consectetuer, amet tempus et. Urna tellus ut dolor quam pellentesque consequatur. Adipiscing et sed, tincidunt tortor dolor, pellentesque blandit vitae a. Integer ipsum malesuada gravida ut orci, vestibulum tincidunt nulla et erat, sem molestie ante etiam risus ornare, nibh lectus metus. Rhoncus donec natoque ipsum elit eros amet, pede sollicitudin id luctus, magna id. Consectetuer rutrum vitae a vestibulum, nulla ullamcorper elit consectetuer, amet tellus aliquet sit adipiscing. Sapien pulvinar nunc ac eu pede vestibulum.
//-===================================


//-===================================
script.
  export default {
      props: ['message']
  }
//-===================================


//-===================================
style(lang='css').
  /* PENDING VUE-EXPRESS UPDATE */
//-===================================
